.swiper-pagination span{
    background-color: white ;
    width: 16px;
    height: 16px;
}
.swiper-pagination-bullet-active-next , .swiper-pagination-bullet-active-prev{
    background-color: white;
}

.swiper-wrapper{
    padding-bottom: 40px;
}

.swiper-slide{
    display: flex !important;
    justify-content: center !important;
}

.border-r-liner{
    border-right: 1px solid transparent;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
}
